/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home default*/

.home {
    margin-top: 300px;
    text-align: center;
    font-size: 3rem;
    transform: skewY(-20deg);
}